{% extends "base.html" %}

{% block title %}Summary | AI Video Studio{% endblock %}

{% block content %}
<div id="reactPageRoot"></div>
<script id="reactPageState" type="application/json">
{{ {
    "page":"summary",
    "summary": summary,
    "timestamp_summary": timestamp_summary,
    "job_id": job_id,
    "display_name": display_name,
    "model_name": model_name
} | tojson }}
</script>
<script crossorigin src="https://unpkg.com/react@18/umd/react.production.min.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js"></script>
<script src="{{ url_for('static', filename='js/pages-react.js') }}"></script>
{% endblock %}
